@{
  ViewData["Title"] = "Tipo de Ejercicios";
}

<div class="text-center">
  <h1 class="display-4">Tipos de Ejercicios</h1>
</div>

<!-- Button trigger modal -->
<div class="mb-2">
  <button type="button" onclick="ListadoTipoEjercicios()" class="button">
    Actualizar
  </button>
  <button type="button" class="button" onclick="NuevoRegistro()" data-bs-toggle="modal" data-bs-target="#ModalTipoEjercicio">
    Nuevo Ejercicio
  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalTipoEjercicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="hidden" id="TipoEjercicioID" value="0"/>
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" style="text-transform:uppercase" placeholder="Nombre del tipo de actividad">
          </div>
          <div class="mb-3">
            <label for="Met" class="form-label">MET</label>
            <input type="text" class="form-control" id="Met" style="text-transform:uppercase" placeholder="Nombre del tipo de actividad">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="LimpiarModal()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" onclick="GuardarRegistro()" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="contenedor">
<table class="table">
  <thead class="td">
    <tr class="tr">
      <th>Descripción</th>
      <th>MET</th>
      <th style="width: 120px;">Editar</th>
      <th style="width: 120px;">Eliminar</th>
    </tr>
  </thead>
  <tbody id="tbody-tipoejercicios">
  </tbody>
</table>
</div>
@section Scripts {
  <script src="~/js/tipoejercicios-1.0.0.js"></script>
}
