@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ejercicios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ejercicios.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/forgot.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/table.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="header">
        <a href="#" class="logo">Ejercicios</a>
        @if (SignInManager.IsSignedIn(User)){  
        <nav class="navbar">
            @if (User.IsInRole("ADMINISTRADOR")){
            <a  asp-area="" asp-controller="Admin"asp-action="Index"> Admin</a>}
            <a  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a  asp-area="" asp-controller="TipoEjercicios" asp-action="Index">Tipo Ejercicios</a>
            <a  asp-area="" asp-controller="EjercicioFisicos"asp-action="Index">Ejercicios Fisicos</a>
            <a  asp-area="" asp-controller="EjercicioFisicos"asp-action="Informe">Informe Ejercicios</a>
            <a  asp-area="" asp-controller="EjercicioFisicos"asp-action="InformeLugares">Lugar Ejercicios</a>
            <a  asp-area="" asp-controller="Lugares"asp-action="Lugares">Lugares</a>
            <a  asp-area="" asp-controller="EventosDeportivos"asp-action="Index">Eventos</a>
            <a  asp-area="" asp-controller="EjercicioFisicos"asp-action="InformeEventos"> InformeEventos</a>
            <partial name="_LoginPartial" />
        </nav>}
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/jspdf/jspdf.debug.js"></script>
    <script src="~/js/jspdf/jspdf.min.js"></script>
    <script src="~/js/jspdf/jspdf.plugin.autotable.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
