<div class="row">
    <div class="col-md-3">
        <label for="BuscarInicio" class="form-label text-light">Inicio de la actividad</label>
        <input type="datetime-local" id="BuscarInicio" class="form-control" />
    </div>
    <div class="col-md-3">
        <label for="BuscarFin" class="form-label text-light">Fin de la actividad</label>
        <input type="datetime-local" id="BuscarFin" class="form-control" />
    </div>
</div>
<div class="mt-2 p-1">
    <button type="button" class="btn btn-primary" onclick="ListadoInformes()">
        Buscar
    </button>
</div>

<div class="contenedor">
<table class="table">
  <thead class="td">
    <tr class="tr">
        <th>LUGARES</th>
        <th>TIPO EJERCICIO</th>
        <th>INICIO</th>
        <th>FIN</th>
        <th>DURACION</th>
        <th>OBSERVACIONES</th>
      </tr>
    </thead>
    <tbody id="tbody-lugarportipo"></tbody>
</table>

@section Scripts {
    <script src="~/js/informelugares.js"></script>
}